node_modules/
temp_videos/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*.rar
scratch/
extensions/tm_clean_*
extensions/extracted_*
extensions/user_pasted_*
