<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script type="module" src="${ModuleScript}" async defer></script>
    <script nomodule src="${NoModuleScript}" async defer></script>
    <script>

    </script>
    <style>
        .frc-banner {
            display: none;
        }
    </style>
</head>

<body>
    <div class="frc-captcha" data-sitekey="${SiteKey}" data-callback="myCallback" data-start="focus"></div>
    <script>
        const myWidget = document.querySelector(".frc-captcha");
        function myCallback(token) {
            console.log('token:' + token);
        };
        myWidget.addEventListener("frc:widget.complete", function (event) {
            console.log('token:' + event.detail.response);
        });
        myWidget.addEventListener("frc:widget.error", function (event) {
            setTimeout(function () {
                console.log('captcha-load-error');
            }, 1000)
        });
        console.log('frame-onload');
    </script>
</body>

</html>